
@font-face{
  font-family:"Akashi";
src:url("../fonts/Akashi/akashi.eot?") format("eot"),
url("../fonts/Akashi/akashi.woff") format("woff"),
url("../fonts/Akashi/akashi.ttf") format("truetype"),
url("../fonts/Akashi/akashi.svg#Akashi") format("svg");
font-weight:normal;
font-style:normal;
}

*{
  font-family: Akashi;
  padding: 0;
  margin:0;
}

button{
  cursor:pointer;
  width:150px;
  border-radius: 10px;
  background-color: yellow;
  border:2px solid lime;
  margin-left:20px;
}

#stage{
  width: 300px;
  height: 300px;
  position: relative;
  margin:auto;
}

#background{
  width: 300px;
  height: 300px;
  position: relative;
  top: 0px;
  left: 0px;
  background-image: url("../images/background.png");
}

#cannon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 270px;
  left: 150px;
  background-image: url("../images/cannon.png");
}

#gameTitle{
    font-size: 38px;
    color: lime;
    text-align: center;
    text-shadow: 2px 2px yellow;
    margin-bottom:10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#output{
  color:white;
  margin-top: 10px;
  margin-bottom:10px;
}

#inputX{
  width:50px;
  border-radius: 10px;
  background-color: yellow;
  border:2px solid lime;
  outline:none;
  padding-left:5px;
  margin-left:10px;
}

#inputY{
  width:50px;
  border-radius: 10px;
  background-color: yellow;
  border:2px solid lime;
  outline:none;
  padding-left:5px;
  margin-left:5px;
}


#alien{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 70px;
  background-image: url("../images/alien.png");

    transition: 0.5s ease-in-out 0s
}

#explosion{
  display:none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 70px;
  background-image: url("../images/explosion.png");

  transition: 0.5s ease-in
}

#explosion2{
  display:none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 270px;
  left: 150px;
  background-image: url("../images/explosion.png");

  transition: 0.5s ease-in
}

#missile{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 245px;
  left: 155px;
  background-image: url("../images/missile.png");

  transition: 0.5s ease-in-out 0s
}

#game{
  margin: auto;
  margin-top:50px;
  width: 330px;
  height:auto;;
  padding:15px;
  border: black;
  background: linear-gradient(to bottom , #588063, #000);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}
